.App {
  text-align: left;
  color: #333;
}

.App-header {
  padding: 20px;
  padding-top: 0;
  padding-bottom: 0;
  color: white;
  background-color: #292929;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: #0061ff;*/
}

.App-header-container {
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex: 1;
}

.App-title {
  margin: 0;
  font-size: 1.3em;
  font-weight: 700;
}

.App-title-link {
  color: white;
  text-decoration: none;
  font-weight: 700;
}


.App-title-link:visited {
  color: white;
  text-decoration: none;
}

.App-title-link:hover {
  color: white;
  text-decoration: none;
}

.App-title-link:active {
  color: white;
  text-decoration: none;
}

.App-intro {
  font-size: normal;
}

.App-body {
  padding: 10px;
}

.App-window {
  background-color: #fff;
  color: #182535;
  padding: 10px;
  width: 100%;
  max-width: 800px;
  margin: 10px;
  /*border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;*/
}

.App-container {
  color: black;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.App-container-signature {
  color: black;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}

.App-space {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-bold {
  display: flex;
  font-weight: 400;
}

.container-header {
  font-family: monospace;
  font-size: 1.25em;
  color: #aaa;
  font-weight: 400;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  border-bottom-color: black;
}

.container-header-span {
  margin-bottom: 10px;
}

.window-header {
  font-size: 1.3em;
  display: flex;
  flex-direction: row;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #0061ff;
  margin-bottom: 20px;
}

.window-header-error {
  font-size: 1.3em;
  display: flex;
  flex-direction: row;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: red;
  margin-bottom: 20px;
}

.window-header-success {
  font-size: 1.3em;
  display: flex;
  flex-direction: row;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #39c63c;
  margin-bottom: 20px;
}


.window-header-selected {
  font-weight: 700;
  padding-bottom: 10px;
}

.window-header-bar {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 300;
  color: #0061ff;
}

.window-header-deselected {
  font-weight: 400;
  cursor: pointer;
}

.window-header-deselected:hover {
  text-decoration: underline;
}

.App-search-input {
  background-color: #555;
  color: white;
  border-width: 1px;
  border-color: #222;
  max-width: 400px;
}

.App-search-button {
  background-color: #0061ff;
  color: white;
  border: none;
  cursor: pointer;
}

input[type=submit] {
  background-color: #0061ff;
  color: white;
  border: none;
  cursor: pointer;
}

label {
  font-weight: bold;
  font-size: 0.9em;
}

input {
  border-radius: 2px;
  padding: 10px;
  font-size: 1.1em;
  font-family: monospace;
  margin-top: 20px;
  margin-bottom: 20px;
  border-width: 1px;
  border-color: #222;
}
.container-textarea {
  margin-top: 20px;
  margin-bottom: 20px;
  border-width: 1px;
  border-color: #222;
  font-size: 1.1em;
  padding: 10px;
  border-radius: 2px;
}

.container-textarea-payload {
  margin-top: 20px;
  margin-bottom: 20px;
  border-width: 1px;
  border-color: #222;
  font-size: 1.1em;
  padding: 10px;
  border-radius: 2px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  background-color: #f9f9f9;
  font-family: monospace;
}

form {

}

.signature-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-right: 0px;
  margin-bottom: 10px;
}

.signature-label {
  font-weight: 300;
  font-family: monospace;
  font-size: 1.1em;
}

.signature-label-check {
  font-weight: 300;
  font-family: monospace;
  font-size: 1.1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
    margin-top: 10px;
}


.signature-radio {
  margin: 0;
  margin-top: 10px;
}

.signature-checked {
  margin: 0;
}

.span-name, .span-email, .span-address, .span-pubkey {
  padding-left: 10px;
}

.span-name {
  flex: 0.75;
}

.span-email, .span-address, .span-pubkey {
  flex: 1;
}

.span-pubkey {
  font-size: .5em;
}

.span-address {
  text-align: right;
}

.p-mono {
  font-family: monospace;
  font-size: 1.1em;
}
