.App {
  text-align: left;
}

.App-header {
  padding: 10px;
  border-bottom-color: #0061ff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  color: white;
  background-color: #0061ff;
}

.App-title {
  margin: 0;
  font-size: 1.15em;
  font-weight: 400;
}

.App-intro {
  font-size: normal;
}

.App-body {
  padding: 10px;
}
